<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THIS IS STORYWEAVER.</h1>
    <h2>Many languages, formats, and stories for children. All open source.</h2>
  </div>
  <img src="<%= asset_path('about/banner.jpg') %>" class="about-banner" />	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top">Welcome to StoryWeaver from Pratham Books, a whole new world of children’s stories, where all barriers fall away. It is a platform that hosts stories in languages from all across India and beyond. So that every child can have an endless stream of stories in her mother tongue to read and enjoy. StoryWeaver is an open platform designed to be innovative and interactive. It invites both, the weaver of stories and the reader to connect and share the fascinating world of words and illustrations. This then, marks a new chapter in children’s literature and publishing. Come discover the magic of stories and the joy of reading - a cornucopia that will delight endlessly. </p>
        <p class="cnt-top"><b>Browse StoryWeaver, where you can read, create, translate, or download an endless stream of stories.</b></p>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/read.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Read</h3>
              <p>
              Fact is that all learning depends on the ability to read. When children have access to enjoyable, enriching stories in their own languages, the transformation in their reading skills are visible. The sheer joy of reading stories that are engaging and capture their imagination can make children become readers. Which in turn, makes them better learners. StoryWeaver is an open source platform. It is an absolutely free gateway to a never-ending collection of stories. Stories that tickle the imagination, and take children to places far and beyond.  Stories that explore concepts in math, science, the environment and even history. Stories for the early readers and the more fluent ones - in over 20 languages. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/download.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Download</h3>
              <p class="text-right">
              And you can do more than just read. You can download a story to read later. If you would like to print a story, we have an easy A4 print ready format available. And for other users of the content, StoryWeaver even has a digital friendly E-Pub format for all the stories. 
              In our crusade to liberate stories so that they can be read everywhere StoryWeaver can be accessed on desktop computers, laptops, tablets and even mobile phones. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/create-01.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Create</h3>
              <p>
              Weaving a story is a joy. Besides offering hundreds of handpicked stories, StoryWeaver allows you to create your own story!  You can choose to illustrate it with compelling artwork of over 2000 images. So while publishing has always sounded complex, and daunting, StoryWeaver now makes it super-easy to write your words, pick your illustrations, choose templates, and publish your very own story – in minutes! You can also create versions of an existing story by adapting it to the context that is most relevant to you. StoryWeaver’s dashboard for content creators allows you to track how many people have read your story and see the derivative versions of your published stories too. 
              </p>
            </div>					
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">				  
            <span><img src="<%= asset_path('about/translate.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Translate</h3>
              <p class="text-right">
              For educators, librarians and parents, StoryWeaver offers a fresh, exciting usability. All the stories can all be translated into new languages.  Which means that this is a rich well of stories that can be shared across the world. Stories that have been so far confined to regions by language are now set free. Children can read these stories or they can be read to in languages they understand. With this, StoryWeaver brings together people and helps them find shared identities. StoryWeaver enables translation into any language of your choice.</p>
              <p class="text-right"><a href="https://storyweaver.org.in/tutorials">Click here</a> for a demo on how to translate stories or know more about tools and tips to translate <a href="https://storyweaver.org.in/translation_tools_and_tips"> here</a>.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/connect.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Connect</h3>
              <p>
              StoryWeaver is a meeting ground for parents, teachers, librarians, writers, translators, and other people to review, discuss and engage with children’s literature. It builds bonds, where there may have been few, by allowing individuals and groups to share their experience.Being on StoryWeaver is exciting and stimulating because you can start discussions around your favorite books, ask questions, share ideas and resources, review books, and create groups around shared interests. You’ll discover that being on StoryWeaver is an enriching experience.
              </p>
            </div>
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/open.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Open</h3>
              <p class="text-right">
              StoryWeaver has its roots in the philosophy of open licensing. We want every child to have easy access to a wealth of stories in her language to learn and practice reading, which is the first step to becoming an autonomous learner. To enable this, we have allowed unrestricted access to all of Pratham Books’ content using Creative Commons licenses. All stories and illustrations on StoryWeaver are available under open licenses. Which means we give people the right to share, use or even build upon the creative work that is available here. All tools for translation and formatting are absolutely free. The stories created here are actively shaped and nurtured into being delightful invitations for participation and collaboration – without the chains of restrictive copyright licenses. To read is to free the imagination, to discover new thoughts and ideas. Indeed to read is in fact, to discover joy.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Watch the StoryWeaver videos :</h3>
          <p><b>English</b></p>
          <div class="embed-video">
            <iframe width="560" height="315" src="
            https://www.youtube.com/embed/Cc8ZIvDluh8" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><b><br>Hindi</b></p>
          <div class="embed-video">
            <iframe width="560" height="315" src="
            https://www.youtube.com/embed/GS906aLxi2Q" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Youtube links to the videos :</h3>
          <p>English: <a href="https://www.youtube.com/watch?v=Cc8ZIvDluh8">https://www.youtube.com/watch?v=Cc8ZIvDluh8</a></p>
          <p>Hindi: <a href="https://www.youtube.com/watch?v=GS906aLxi2Q&feature=youtu.be
          ">https://www.youtube.com/watch?v=GS906aLxi2Q&feature=youtu.be</a></p>
      </div>
    </div>
  </div>
</div>

