<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THE STORYWEAVERS</h1>
    <h2>STORYWEAVER IS ALL ABOUT YOU, THE WEAVERS.</h2>
  </div>
  <img src="<%= asset_path('about/Storyweaver_and_You.jpg') %>" class="about-banner" />	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">      	
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
           <span><img src="<%= asset_path('about/lib_2.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Librarians</h3>
              <p>
              Nirupama leads the Library Program at Akshara Foundation. She finds that she can explore the hundreds of stories on StoryWeaver. She can also curate age-appropriate stories in many languages for her librarians. She is also able to help teachers choose stories that they can use as a teaching resource in their classrooms.  Start browsing for stories <a href="https://storyweaver.org.in/search">here</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/educator-08.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3 class="text-right">Educators</h3>
              <p class="text-right">
              Sujata is a Teach For India Fellow. She teaches English to Grade 3 and Grade 5, in a government school in Pune. Sujata is excited to find stories on StoryWeaver suitable for groups in her classes with Level 1 and 2 reading skills. She also discovered she can use the same story and <a href="https://storyweaver.org.in/translate">re-level</a> it to suit her students’ different reading needs. For readers who were just beginning to learn English as a language, she was able to use the Flashcards to familiarise them with common vocabulary and build connections between visuals and text. <a href="https://storyweaver.org.in/search">Click here</a> to select a story for re-level. 
              </p>
            </div>					
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">         
            <span><img src="<%= asset_path('about/parents.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Parents</h3>
              <p>
              Promita Bhowmick is the mother of a young boy. She believes that education is a great leveler and aspires to give her child the best education that she can. She downloads stories on her mobile phone and shares them with her child. She likes to watch him as he reads aloud for everyone in the family.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">				  
            <span><img src="<%= asset_path('about/translate.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Translators</h3>
              <p class="text-right">
              How about reading to your children in Assamese? That is exactly what Meeta Barua did. Struggling with a dearth of good children’s stories in Assamese, Meeta took things into her own hands and translated stories on StoryWeaver. <a href="https://storyweaver.org.in/tutorials"> Click here</a>  to take a quick tutorial.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/creative_author-02.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Budding authors</h3>
              <p>
              Tarini has a creative mind buzzing with ideas. She participated in Pratham Books’ 'Retell, Remix' contest. Her beautifully crafted story won her the first prize.  Another leading publisher liked the story and now Tarini is a published author. StoryWeaver can help you discover the storyteller in you. Publish your story online and your story is read by thousands of people around the world. <a href="https://storyweaver.org.in/tutorials">Click here</a> to take a quick tutorial or <a href="https://storyweaver.org.in/start">click here</a> to start creating now.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/upload_art.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3 class="text-right">Upload your art, get famous!</h3>
              <p class="text-right">
              Meet Megha Vishwanthan. A techie and artist, Megha was intrigued by Story Weaver’s  #6FrameStoryChallenge and she decided to participate. Soon after her illustrations got shared on Facebook feeds, Megha was awarded an assignment with a prestigious institution. Read Megha’s story <a href="http://blog.prathambooks.org/2015/04/good-things-that-happen-over-stories.html"> here</a>. And upload your art  <a href="https://storyweaver.org.in/start"> here</a>.
              </p>
            </div>
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/print_and_sell-08.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Print and use</h3>
              <p>
              Magicbird Publishing is a social business in Malaysia that aims to provide equitable access to stories and storytelling, reached out to Pratham Books for 15 of their Creative-Commons licensed titles. These titles were open access so they went on to print these books in Malaysia for their use locally. In nine months, 15,000 copies of these books had reached children in SMK Joseph Kepong, a Tamil medium government school.</p>
              <p> All this without the bother of copyright negotiations and legal paperwork. <a href="http://blog.prathambooks.org/2014/06/magicbird-publishing-takes-our-books-to.html">Click here</a> to know more.
              </p>
            </div>
          </div>				
        </div>
      </div>
    </div>
  </div>
</div>

